/* Imports */ 
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Secular+One&display=swap');

/* Général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Abel', sans-serif;
    background-color: #333;
    color: #fff;
    min-height: 100vh;
}

h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 64px;
}

/* Accueil */
.jeux {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.jeu {
    text-align: center;
    margin: 20px;
}
.jeu a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    margin-top: 10px;
}
.jeu a:hover{
    color: #cfdbd5;
}
.jeu img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}
.footer a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.footer a:hover {
    color: #cfdbd5;
}

/* Responsive */
@media (max-width: 768px) {
    .jeu img {
        width: 100px;
        height: 100px;
    }
}