/* Import */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


body {
    background-color: #333;
    color: #fff;
    font-family: 'Abel', sans-serif;
    text-align: center;
}

/* Titres */
h1{
    text-align: center;
    font-size: 3.5em;
}
h2{
    font-family: 'Secular One', sans-serif;
    text-align: center;
    font-size: 2.5em;
}

*{
    font-family: 'Abel', sans-serif;
    text-align: center;
}

/* Liens */
a{
    color: #fff;
    font-size: 1.5em;
}
a:hover{
    color: #d8dfe3;
}

/* Jeux */
.jeux {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.jeu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.jeu img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.jeu a {
    margin-top: 10px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .jeu {
      margin: 20px;
    }
}

@media screen and (min-width: 992px) {
    .jeu {
      margin: 30px;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
}